.geladeirinha-icon31 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper2 {
  width: 400px;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  min-width: 400px;
}
.quem-est-acessando {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.geladeirinha-icon-wrapper3,
.quem-est-acessando-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quem-est-acessando-wrapper {
  overflow: hidden;
}
.geladeirinha-icon-wrapper3 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-1);
  min-width: 120px;
  min-height: 120px;
}
.usurio-1 {
  position: relative;
}
.frame-parent35 {
  text-decoration: none;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  color: inherit;
}
.geladeirinha-icon-wrapper4 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-2);
}
.frame-parent36,
.geladeirinha-icon-wrapper4,
.geladeirinha-icon-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
}
.frame-parent36 {
  text-decoration: none;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: inherit;
}
.geladeirinha-icon-wrapper5 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-3);
}
.frame-child18 {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.group-frame {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
}
.adicionar {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.frame-button,
.instance-parent {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  min-width: 120px;
  min-height: 120px;
}
.instance-parent {
  width: 550px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--font-size-xl);
}
.gerenciar-perfis {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.gerenciar-perfis-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-100);
  padding: var(--padding-5xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
}
.escolha-de-perfis,
.frame-parent34,
.gerenciar-perfis-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent34 {
  align-self: stretch;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.escolha-de-perfis {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  gap: var(--gap-3xs);
}
