.geladeirinha-icon27 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: cover;
}
.geladeirinha-icon-frame {
  text-decoration: none;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-icon1 {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.home-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(151.08deg);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.tasks {
  position: relative;
}
.pencil-parent {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
  color: var(--color-dimgray-100);
}
.geladeirinha-icon28 {
  width: 15px;
  position: relative;
  height: 6.6px;
  object-fit: cover;
}
.usurio-2-s-tasks-container,
.usurio-2-s-tasks-wrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--user-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.usurio-2-s-tasks-container {
  background-color: var(--user-3);
}
.suitcase-icon {
  width: 15px;
  position: relative;
  height: 15px;
  object-fit: cover;
  opacity: 0.75;
}
.work-priorities-wrapper {
  flex: 1;
  background-color: var(--work-priorities);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.suitcase-parent,
.supermarket-wrapper,
.week-routine-wrapper,
.work-priorities-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.suitcase-parent {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-3xs);
}
.supermarket-wrapper,
.week-routine-wrapper {
  flex: 1;
  background-color: var(--supermarket);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.week-routine-wrapper {
  background-color: var(--week-routine);
}
.line-icon {
  width: 192px;
  position: relative;
  height: 1px;
  object-fit: contain;
}
.line-wrapper {
  align-self: stretch;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.criar-tarefa {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: left;
}
.criar-tarefa-wrapper,
.frame-parent12 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.criar-tarefa-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(151.08deg);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child2 {
  width: 210px;
  position: relative;
  max-height: 100%;
}
.geladeirinha-icon30 {
  width: 48px;
  position: relative;
  height: 32.7px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper1 {
  border-radius: var(--br-5xs);
  background-color: var(--user-1);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}
.frame-parent13 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.change-user-child {
  width: 22px;
  position: relative;
  height: 17px;
}
.change-user {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 0;
  color: inherit;
}
.frame-parent11,
.home-container,
.vector-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.home-container {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.frame-parent11,
.vector-parent {
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.vector-parent {
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--color-dimgray-100);
}
.frame-parent11 {
  flex: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 250px;
}
.group-child,
.group-item {
  position: absolute;
  background-color: var(--color-dimgray-400);
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.group-item {
  top: 10.3px;
  left: 9.2px;
  border-radius: var(--br-11xs);
  width: 1.6px;
  height: 6.7px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.ellipse-parent {
  width: 15px;
  position: relative;
  height: 15px;
}
.search-bar-inner {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pesquisar {
  flex: 1;
  position: relative;
}
.search-bar,
.search-bar-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.search-bar {
  width: 500px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xs);
  min-width: 500px;
}
.search-bar-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-silver-100);
}
.home4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.home-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-21xl);
}
.group-icon {
  width: 130.1px;
  position: relative;
  height: 130.1px;
}
.group-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 162px;
}
.tasks-progress1 {
  position: relative;
  font-size: var(--font-size-xs);
}
.ellipse-div {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--work-priorities);
  height: 12px;
}
.ellipse-group {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child3,
.frame-child4 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--supermarket);
  height: 12px;
}
.frame-child4 {
  background-color: var(--week-routine);
}
.tasks-progress-group {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 162px;
  font-size: var(--font-size-base);
}
.tasks1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 400;
  font-family: inherit;
}
.for-your-goal {
  position: relative;
  font-size: var(--font-size-base);
}
.parent,
.tasks-progress {
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}
.parent {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
  min-width: 162px;
  font-size: var(--font-size-45xl);
}
.tasks-progress {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-xs);
  min-width: 290px;
  max-width: 750px;
}
.arrow-icon,
.frame-child5 {
  width: 10px;
  position: relative;
}
.arrow-icon {
  height: 0;
  object-fit: contain;
}
.frame-child5 {
  max-height: 100%;
}
.vector-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.sun {
  position: relative;
  display: inline-block;
  min-width: 21px;
}
.info,
.sun-parent {
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 250px;
}
.sun-parent {
  width: 250px;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  border: 1px solid var(--color-lightgray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-9xs);
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-300);
}
.info {
  width: 100%;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-lightgray-100);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.day {
  width: 21px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  height: 19.8px;
}
.week {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.calendar,
.week,
.week-parent,
.week4 {
  display: flex;
  align-items: center;
}
.week4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 13.8px;
}
.calendar,
.week-parent {
  flex-direction: column;
  justify-content: center;
}
.week-parent {
  width: 100%;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  max-width: 250px;
}
.calendar {
  align-self: stretch;
  text-align: center;
}
.calendar-area,
.calendar-section {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.calendar-area {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.calendar-section {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs);
  min-width: 290px;
  max-width: 750px;
  font-size: var(--font-size-xs);
}
.completed-wrapper,
.tasks-progress-parent,
.work-priorities-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tasks-progress-parent {
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
}
.completed-wrapper,
.work-priorities-container {
  align-items: flex-start;
}
.completed-wrapper {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.frame-parent15 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background: linear-gradient(180deg);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 206px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-3xs);
  min-width: 250px;
}
.frame-child6 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-300);
  height: 12px;
}
.ellipse-parent2 {
  flex: 1;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 100px;
}
.rectangle-input {
  margin: 0;
  width: 20px;
  position: relative;
  height: 20px;
}
.frame-parent17,
.instance-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instance-wrapper {
  flex: 1;
  height: 20px;
  justify-content: flex-end;
  min-width: 100px;
}
.frame-parent17 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  height: 44px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.ellipse-parent3,
.week-routine-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.week-routine-container {
  align-items: flex-start;
  font-size: var(--font-size-xl);
}
.ellipse-parent3 {
  flex: 1;
  align-items: center;
  gap: var(--gap-3xs);
}
.instance-container {
  flex: 1;
  justify-content: flex-end;
}
.frame-parent19,
.instance-container,
.tasks-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent19 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  justify-content: space-between;
  padding: var(--padding-xs);
  color: var(--color-black);
}
.tasks-wrapper {
  flex: 1;
  justify-content: flex-start;
}
.frame-child9 {
  width: 20px;
  position: relative;
  max-height: 100%;
}
.frame-parent18,
.frame-parent21 {
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent21 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--week-routine);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-parent18 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background: linear-gradient(180deg);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 206px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  font-size: var(--font-size-base);
}
.frame-parent14,
.your-tasks-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-parent14 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.your-tasks-parent {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.transition-both-directions1 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.transition-both-directions-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-parent5 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-parent5,
.frame-parent24,
.instance-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instance-wrapper1 {
  flex: 1;
  height: 20px;
  justify-content: flex-end;
}
.frame-parent24 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent23 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--trade);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent,
.frame-parent23,
.frame-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent25 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--help);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-xl);
}
.frame-a,
.frame-parent28 {
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-parent28 {
  background-color: var(--color-gray-200);
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-xs);
  color: var(--color-black);
}
.frame-a {
  text-decoration: none;
  background-color: var(--addition);
  color: inherit;
}
.frame-a,
.frame-parent27,
.frame-parent33 {
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent27 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--addition);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  min-height: 250px;
  font-size: var(--font-size-base);
}
.frame-parent33 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--exclusion);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.frame-parent22,
.frame-parent30 {
  display: flex;
  align-items: flex-start;
  min-height: 250px;
}
.frame-parent30 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--exclusion);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-3xs);
  min-width: 250px;
  font-size: var(--font-size-base);
}
.frame-parent22 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: var(--white);
}
.frame-main,
.home-page-usurio {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-family: var(--font-inter);
}
.frame-main {
  flex: 1;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 250px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.home-page-usurio {
  width: 100%;
  position: relative;
  flex-direction: row;
  font-size: var(--font-size-xs);
  color: var(--white);
}
@media screen and (max-width: 1150px) {
  .rectangle-input {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frame-parent11 {
    display: none;
  }
  .tasks-progress-parent {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
