.geladeirinha-icon51 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: contain;
}
.geladeirinha-icon-wrapper12 {
  text-decoration: none;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-icon5 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.home-icon5,
.home14 {
  position: relative;
}
.home-parent3,
.pencil-parent2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.home-parent3 {
  text-decoration: none;
  color: var(--color-dimgray-100);
}
.pencil-parent2 {
  background: linear-gradient(151.08deg);
}
.geladeirinha-icon52 {
  width: 15px;
  position: relative;
  height: 6.6px;
  object-fit: cover;
}
.usurio-2-s-tasks-wrapper6 {
  flex: 1;
  background-color: var(--user-2);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.geladeirinha-icon-parent13,
.usurio-2-s-tasks-wrapper6,
.usurio-2-s-tasks-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.geladeirinha-icon-parent13 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-3xs);
}
.usurio-2-s-tasks-wrapper7 {
  flex: 1;
  background-color: var(--user-3);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.suitcase-icon4 {
  width: 15px;
  position: relative;
  height: 15px;
  object-fit: cover;
  opacity: 0.75;
}
.supermarket-wrapper4,
.week-routine-wrapper4,
.work-priorities-wrapper4 {
  align-self: stretch;
  flex: 1;
  background-color: var(--work-priorities);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.supermarket-wrapper4,
.week-routine-wrapper4 {
  background-color: var(--supermarket);
}
.week-routine-wrapper4 {
  background-color: var(--week-routine);
}
.frame-child59 {
  width: 192px;
  position: relative;
  height: 1px;
  object-fit: contain;
}
.line-wrapper2 {
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.criar-tarefa-wrapper2,
.instance-parent3,
.line-wrapper2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.criar-tarefa-wrapper2 {
  border-radius: var(--br-5xs);
  background: linear-gradient(151.08deg);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  color: var(--color-gainsboro-100);
}
.instance-parent3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child60 {
  width: 210px;
  position: relative;
  max-height: 100%;
}
.geladeirinha-icon54 {
  width: 48px;
  position: relative;
  height: 32.7px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper13 {
  border-radius: var(--br-5xs);
  background-color: var(--user-1);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}
.frame-parent89 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.change-user-child2 {
  width: 22px;
  position: relative;
  height: 17px;
}
.change-user4,
.home-wrapper4,
.vector-parent5 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.change-user4 {
  text-decoration: none;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 0;
  color: inherit;
}
.home-wrapper4,
.vector-parent5 {
  flex-direction: column;
  align-items: flex-start;
}
.home-wrapper4 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.vector-parent5 {
  justify-content: flex-end;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-dimgray-100);
}
.frame-child61 {
  width: 0;
  position: relative;
  height: 13px;
  object-fit: contain;
}
.frame-parent88 {
  align-self: stretch;
  flex: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 250px;
}
.group-child5,
.group-child6 {
  position: absolute;
  background-color: var(--color-dimgray-400);
}
.group-child5 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.group-child6 {
  top: 10.3px;
  left: 9.2px;
  border-radius: var(--br-11xs);
  width: 1.6px;
  height: 6.7px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.ellipse-parent37 {
  width: 15px;
  position: relative;
  height: 15px;
}
.search-bar-inner3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pesquisar4 {
  flex: 1;
  position: relative;
}
.search-bar4 {
  width: 500px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xs);
  min-width: 500px;
}
.search-bar-wrapper2,
.your-tasks-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-bar-wrapper2 {
  overflow: hidden;
  justify-content: center;
  color: var(--color-silver-100);
}
.your-tasks-wrapper1 {
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-21xl);
}
.group-child7 {
  position: absolute;
  top: 166.5px;
  left: calc(50% - 82.5px);
  max-height: 100%;
  width: 163.9px;
}
.frame-child62,
.frame-child63,
.frame-child64 {
  width: 20.1px;
  position: relative;
  height: 160px;
  object-fit: contain;
}
.frame-child63,
.frame-child64 {
  width: 20.3px;
  height: 162px;
}
.frame-child64 {
  width: 20.5px;
  height: 160px;
}
.group-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.vector-parent6 {
  flex: 1;
  position: relative;
  height: 170px;
  min-width: 240px;
  max-width: 240px;
}
.mouse-icon1 {
  width: 50px;
  position: relative;
  height: 50px;
  object-fit: cover;
}
.clique-e-passe1 {
  margin: 0;
}
.geladeirinha-icon-parent16,
.preview-area2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.geladeirinha-icon-parent16 {
  border-radius: var(--br-base);
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 420px;
  min-height: 150px;
}
.preview-area2 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-xs);
  gap: var(--gap-5xl);
}
.geladeirinha-icon-parent15,
.geladeirinha5 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.geladeirinha5 {
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-3xs);
}
.geladeirinha-icon-parent15 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
  text-align: center;
  font-size: var(--font-size-base);
}
.transition-both-directions5 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.transition-both-directions-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child65 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-300);
  height: 12px;
}
.ellipse-parent38 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle-input27 {
  margin: 0;
  width: 20px;
  position: relative;
  height: 20px;
}
.frame-parent93,
.instance-wrapper25 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instance-wrapper25 {
  flex: 1;
  height: 20px;
  justify-content: flex-end;
}
.frame-parent93 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent92 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--trade);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent2,
.frame-parent92,
.frame-parent94 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent94 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--help);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent2 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-xl);
}
.frame-parent97,
.suggestions-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent97 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  color: var(--color-black);
}
.suggestions-wrapper6 {
  flex: 1;
  justify-content: flex-start;
}
.frame-child69 {
  width: 20px;
  position: relative;
  max-height: 100%;
}
.vector-wrapper7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-parent96,
.frame-parent99 {
  background-color: var(--addition);
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent99 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.frame-parent96 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  min-height: 250px;
  font-size: var(--font-size-base);
}
.frame-parent100,
.frame-parent103 {
  background-color: var(--exclusion);
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent103 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.frame-parent100 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  min-height: 250px;
  font-size: var(--font-size-base);
}
.frame-parent91,
.usurio-2-s-interactions-with-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-parent91 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 250px;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.usurio-2-s-interactions-with-parent2 {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
  font-size: var(--font-size-13xl);
}
.frame-parent90,
.your-tasks-graph {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent90 {
  flex: 1;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 250px;
  color: var(--color-black);
}
.your-tasks-graph {
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  min-height: 1024px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1150px) {
  .rectangle-input27 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frame-parent88 {
    display: none;
  }
}
