.geladeirinha-icon45 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: contain;
}
.geladeirinha-icon-wrapper10 {
  text-decoration: none;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-icon4 {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.home-parent2,
.pencil-parent1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.home-parent2 {
  text-decoration: none;
  color: var(--color-dimgray-100);
}
.pencil-parent1 {
  background-color: var(--buttons);
}
.geladeirinha-icon46 {
  width: 15px;
  position: relative;
  height: 6.6px;
  object-fit: cover;
}
.usurio-2-s-tasks-wrapper4 {
  flex: 1;
  background-color: var(--user-2);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.geladeirinha-icon-parent9,
.usurio-2-s-tasks-wrapper4,
.usurio-2-s-tasks-wrapper5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.geladeirinha-icon-parent9 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-3xs);
}
.usurio-2-s-tasks-wrapper5 {
  flex: 1;
  background-color: var(--user-3);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.suitcase-icon3 {
  width: 15px;
  position: relative;
  height: 15px;
  object-fit: cover;
  opacity: 0.75;
}
.supermarket-wrapper3,
.week-routine-wrapper3,
.work-priorities-wrapper3 {
  align-self: stretch;
  flex: 1;
  background-color: var(--work-priorities);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.supermarket-wrapper3,
.week-routine-wrapper3 {
  background-color: var(--supermarket);
}
.week-routine-wrapper3 {
  background-color: var(--week-routine);
}
.frame-child48 {
  width: 192px;
  position: relative;
  height: 1px;
  object-fit: contain;
}
.line-wrapper1 {
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.criar-tarefa-wrapper1,
.instance-parent2,
.line-wrapper1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.criar-tarefa-wrapper1 {
  border-radius: var(--br-5xs);
  background-color: var(--buttons);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  color: var(--color-gainsboro-100);
}
.instance-parent2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child49 {
  width: 210px;
  position: relative;
  max-height: 100%;
}
.geladeirinha-icon48 {
  width: 48px;
  position: relative;
  height: 32.7px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper11 {
  border-radius: var(--br-5xs);
  background-color: var(--user-1);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}
.frame-parent73 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.change-user-child1 {
  width: 22px;
  position: relative;
  height: 17px;
}
.change-user3,
.home-wrapper3,
.vector-parent4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.change-user3 {
  text-decoration: none;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 0;
  color: inherit;
}
.home-wrapper3,
.vector-parent4 {
  flex-direction: column;
  align-items: flex-start;
}
.home-wrapper3 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.vector-parent4 {
  justify-content: flex-end;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-dimgray-100);
}
.frame-child50 {
  width: 0;
  position: relative;
  height: 13px;
  object-fit: contain;
}
.frame-parent72 {
  align-self: stretch;
  flex: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 250px;
}
.group-child3,
.group-child4 {
  position: absolute;
  background-color: var(--color-dimgray-400);
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.group-child4 {
  top: 10.3px;
  left: 9.2px;
  border-radius: var(--br-11xs);
  width: 1.6px;
  height: 6.7px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.ellipse-parent30 {
  width: 15px;
  position: relative;
  height: 15px;
}
.search-bar-inner2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pesquisar3 {
  flex: 1;
  position: relative;
}
.search-bar3 {
  width: 500px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xs);
  min-width: 500px;
}
.search-bar-wrapper1,
.your-tasks-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-bar-wrapper1 {
  overflow: hidden;
  justify-content: center;
  color: var(--color-silver-100);
}
.your-tasks-frame {
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-21xl);
}
.day-next-month12,
.preview-select2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.day-next-month12 {
  text-decoration: none;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-black);
  justify-content: center;
  padding: var(--padding-3xs);
}
.preview-select2 {
  align-self: stretch;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-13xl);
  border: 1px solid var(--color-silver-200);
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.preview-area-child {
  flex: 1;
  position: relative;
  max-width: 240px;
  overflow: hidden;
  height: 240.6px;
  min-width: 240px;
}
.mouse-icon {
  width: 50px;
  position: relative;
  height: 50px;
  object-fit: cover;
}
.clique-e-passe {
  margin: 0;
}
.clique-e-passe-container {
  position: relative;
}
.geladeirinha-icon-parent12,
.preview-area1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.geladeirinha-icon-parent12 {
  border-radius: var(--br-base);
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 420px;
  min-height: 150px;
}
.preview-area1 {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-xs);
  gap: var(--gap-5xl);
}
.geladeirinha-icon-parent11,
.geladeirinha4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.geladeirinha4 {
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-3xs);
}
.geladeirinha-icon-parent11 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
  text-align: center;
  font-size: var(--font-size-base);
}
.transition-both-directions4 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.transition-both-directions-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child51 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-300);
  height: 12px;
}
.ellipse-parent31 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle-input21 {
  margin: 0;
  width: 20px;
  position: relative;
  height: 20px;
}
.frame-parent77,
.instance-wrapper19 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instance-wrapper19 {
  flex: 1;
  height: 20px;
  justify-content: flex-end;
}
.frame-parent77 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent76 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--trade);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent1,
.frame-parent76,
.frame-parent78 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent78 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  background-color: var(--help);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  min-width: 250px;
  min-height: 250px;
}
.add-to-clipboard-parent1 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-xl);
}
.frame-parent81,
.suggestions-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent81 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xs);
  color: var(--color-black);
}
.suggestions-wrapper4 {
  flex: 1;
  justify-content: flex-start;
}
.frame-child55 {
  width: 20px;
  position: relative;
  max-height: 100%;
}
.vector-wrapper5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-parent80,
.frame-parent83 {
  background-color: var(--addition);
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent83 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.frame-parent80 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  min-height: 250px;
  font-size: var(--font-size-base);
}
.frame-parent84,
.frame-parent87 {
  background-color: var(--exclusion);
  display: flex;
  padding: var(--padding-xs);
}
.frame-parent87 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.frame-parent84 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 250px;
  min-height: 250px;
  font-size: var(--font-size-base);
}
.frame-parent75,
.usurio-2-s-interactions-with-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-parent75 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 250px;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.usurio-2-s-interactions-with-parent1 {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs);
  font-size: var(--font-size-13xl);
}
.frame-parent74,
.your-tasks-pizza {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent74 {
  flex: 1;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 250px;
  color: var(--color-black);
}
.your-tasks-pizza {
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  min-height: 1024px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1150px) {
  .rectangle-input21 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frame-parent72 {
    display: none;
  }
}
