.geladeirinha-icon64 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: contain;
}
.geladeirinha-icon-wrapper19 {
  text-decoration: none;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-icon7 {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.home-parent5,
.qr-code-parent4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.home-parent5 {
  text-decoration: none;
  color: var(--color-dimgray-100);
}
.qr-code-parent4 {
  background: linear-gradient(151.08deg);
}
.geladeirinha-icon65 {
  width: 15px;
  position: relative;
  height: 6.6px;
  object-fit: cover;
}
.usurio-2-s-tasks-wrapper10 {
  flex: 1;
  background-color: var(--user-2);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.geladeirinha-icon-parent19,
.usurio-2-s-tasks-wrapper10,
.usurio-2-s-tasks-wrapper11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.geladeirinha-icon-parent19 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-3xs);
}
.usurio-2-s-tasks-wrapper11 {
  flex: 1;
  background-color: var(--user-3);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.suitcase-icon6 {
  width: 15px;
  position: relative;
  height: 15px;
  object-fit: cover;
  opacity: 0.75;
}
.supermarket-wrapper6,
.week-routine-wrapper6,
.work-priorities-wrapper6 {
  align-self: stretch;
  flex: 1;
  background-color: var(--work-priorities);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.supermarket-wrapper6,
.week-routine-wrapper6 {
  background-color: var(--supermarket);
}
.week-routine-wrapper6 {
  background-color: var(--week-routine);
}
.frame-child76 {
  width: 192px;
  position: relative;
  height: 1px;
  object-fit: contain;
}
.line-wrapper4 {
  align-self: stretch;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.criar-tarefa6 {
  position: relative;
  background: linear-gradient(151.08deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.criar-tarefa-wrapper4,
.instance-parent5 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.criar-tarefa-wrapper4 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.instance-parent5 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child77 {
  width: 210px;
  position: relative;
  max-height: 100%;
}
.geladeirinha-icon67 {
  width: 48px;
  position: relative;
  height: 32.7px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper20 {
  border-radius: var(--br-5xs);
  background: linear-gradient(135deg);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}
.frame-parent116 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child78 {
  width: 22px;
  position: relative;
  height: 17px;
}
.frame-parent115 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 0;
}
.home-wrapper6,
.vector-parent8 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-wrapper6 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.vector-parent8 {
  justify-content: flex-end;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-dimgray-100);
}
.frame-child79 {
  width: 0;
  position: relative;
  height: 13px;
  object-fit: contain;
}
.frame-parent114 {
  align-self: stretch;
  flex: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 250px;
}
.group-child10,
.group-child11 {
  position: absolute;
  background-color: var(--color-dimgray-400);
}
.group-child10 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.group-child11 {
  top: 10.3px;
  left: 9.2px;
  border-radius: var(--br-11xs);
  width: 1.6px;
  height: 6.7px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.ellipse-parent45 {
  width: 15px;
  position: relative;
  height: 15px;
}
.group-wrapper1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pesquisar6 {
  flex: 1;
  position: relative;
}
.frame-parent118 {
  width: 500px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xs);
  min-width: 500px;
}
.frame-wrapper,
.your-qr-codes-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-wrapper {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  color: var(--color-silver-100);
}
.your-qr-codes-wrapper {
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-21xl);
}
.menu-vertical-icon {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: contain;
}
.menu-vertical-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.qr-code-1-11 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.ir-para-a,
.print-icon,
.qr-code-1-11 {
  position: relative;
}
.print-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.frame-parent120,
.print-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.print-parent {
  flex-direction: row;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
}
.frame-parent120 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xl);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
}
.add-icon {
  width: 100px;
  position: relative;
  height: 100px;
  object-fit: cover;
}
.add-wrapper,
.frame-parent119 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-wrapper {
  justify-content: center;
  min-width: 250px;
  min-height: 250px;
}
.frame-parent119 {
  align-self: stretch;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-3xs);
  font-size: var(--font-size-5xl);
}
.frame-parent117,
.your-qr-codes6 {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent117 {
  flex: 1;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 250px;
  min-height: 1024px;
  color: var(--color-black);
}
.your-qr-codes6 {
  width: 100%;
  position: relative;
  flex-direction: row;
  max-height: 1024px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .frame-parent114 {
    display: none;
  }
}
