.geladeirinha-icon57 {
  width: 94px;
  position: relative;
  height: 64px;
  object-fit: contain;
}
.geladeirinha-icon-wrapper14 {
  text-decoration: none;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-icon6 {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.home-parent4,
.people-parent3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.home-parent4 {
  text-decoration: none;
  color: var(--color-dimgray-100);
}
.people-parent3 {
  background: linear-gradient(151.08deg);
}
.geladeirinha-icon58 {
  width: 15px;
  position: relative;
  height: 6.6px;
  object-fit: cover;
}
.usurio-2-s-tasks-wrapper8 {
  flex: 1;
  background-color: var(--user-2);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.geladeirinha-icon-parent17,
.usurio-2-s-tasks-wrapper8,
.usurio-2-s-tasks-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.geladeirinha-icon-parent17 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-3xs);
}
.usurio-2-s-tasks-wrapper9 {
  flex: 1;
  background-color: var(--user-3);
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.suitcase-icon5 {
  width: 15px;
  position: relative;
  height: 15px;
  object-fit: cover;
  opacity: 0.75;
}
.supermarket-wrapper5,
.week-routine-wrapper5,
.work-priorities-wrapper5 {
  align-self: stretch;
  flex: 1;
  background-color: var(--work-priorities);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-xs);
}
.supermarket-wrapper5,
.week-routine-wrapper5 {
  background-color: var(--supermarket);
}
.week-routine-wrapper5 {
  background-color: var(--week-routine);
}
.frame-child73 {
  width: 192px;
  position: relative;
  height: 1px;
  object-fit: contain;
}
.line-wrapper3 {
  border-radius: var(--br-base);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.criar-tarefa-wrapper3,
.instance-parent4,
.line-wrapper3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.criar-tarefa-wrapper3 {
  border-radius: var(--br-5xs);
  background: linear-gradient(151.08deg);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  color: var(--color-gainsboro-100);
}
.instance-parent4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.frame-child74 {
  width: 210px;
  position: relative;
  max-height: 100%;
}
.geladeirinha-icon60 {
  width: 48px;
  position: relative;
  height: 32.7px;
  object-fit: cover;
}
.geladeirinha-icon-wrapper15 {
  border-radius: var(--br-5xs);
  background-color: var(--user-1);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}
.frame-parent105 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.change-user-child3 {
  width: 22px;
  position: relative;
  height: 17px;
}
.change-user5,
.home-wrapper5,
.vector-parent7 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
}
.change-user5 {
  text-decoration: none;
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 0;
  color: inherit;
}
.home-wrapper5,
.vector-parent7 {
  flex-direction: column;
  align-items: flex-start;
}
.home-wrapper5 {
  border-radius: var(--br-5xs);
  border-top: 1px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
}
.vector-parent7 {
  justify-content: flex-end;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-dimgray-100);
}
.frame-child75 {
  width: 0;
  position: relative;
  height: 13px;
  object-fit: contain;
}
.frame-parent104 {
  align-self: stretch;
  flex: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 250px;
}
.group-child8,
.group-child9 {
  position: absolute;
  background-color: var(--color-dimgray-400);
}
.group-child8 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.group-child9 {
  top: 10.3px;
  left: 9.2px;
  border-radius: var(--br-11xs);
  width: 1.6px;
  height: 6.7px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.ellipse-parent44 {
  width: 15px;
  position: relative;
  height: 15px;
}
.search-bar-inner4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pesquisar5 {
  flex: 1;
  position: relative;
}
.search-bar5 {
  width: 500px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xs);
  min-width: 500px;
}
.search-bar-wrapper3,
.your-family-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-bar-wrapper3 {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  color: var(--color-silver-100);
}
.your-family-wrapper {
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-21xl);
}
.geladeirinha-icon-wrapper16 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
}
.voc {
  position: relative;
}
.transition-both-directions6 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.transition-both-directions-parent3 {
  border-radius: var(--br-xs);
  border: 2px solid var(--color-darkslategray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.frame-parent108,
.frame-parent109,
.voc-parent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent109 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-base);
}
.frame-parent108,
.voc-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent108 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xl);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  min-width: 420px;
  max-width: 530px;
}
.frame-parent110,
.geladeirinha-icon-wrapper17 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
}
.frame-parent110 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xl);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 420px;
  max-width: 530px;
}
.frame-parent107,
.geladeirinha-icon-wrapper18 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.geladeirinha-icon-wrapper18 {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--user-3);
  flex-direction: column;
  min-width: 120px;
  min-height: 120px;
}
.frame-parent107 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
}
.frame-parent106,
.your-family5 {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent106 {
  flex: 1;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 250px;
  min-height: 1024px;
  color: var(--color-black);
}
.your-family5 {
  width: 100%;
  position: relative;
  flex-direction: row;
  max-height: 1024px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .frame-parent104 {
    display: none;
  }
}
