.form-box {
    display: grid;
    grid: 1fr 500px 1fr / 1fr 3fr 1fr;
}

.form-box form {
    display: grid;
    grid:
    "image" 1fr
    "welcome-text" 1fr
    "form-required" 2fr
    / 1fr;
    background-color: cadetblue;
}

.form img {
    grid-area: image;
    width: 20%;
    justify-self: center;
    align-self: center;
}

.form h1 {
    grid-area: welcome-text;
    
    justify-self: center;
}

.inputs {
    grid-area: form-required;
    display: grid;
    grid: 
    50px 50px 50px 50px
    / 1fr;
}

.inputs .input {
}

.input .button {
}
